<!DOCTYPE html>
<html>
  <head>
    <title>Isolario Interattivo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags %>  
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140353478-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-140353478-1');
    </script>
  </head>
  <body class="dark-mode">
    <%= render :partial => "/layouts/about" %>
    <div class="header-vpc dark-mode">
      <span onclick="showAbout()" 
        class="button dark-mode text-header-vpc my_link" 
        style="grid-area: how; margin-left: 15px;">
        How it works
      </span>
      <span class="dark-mode text-header-vpc" style="grid-area: title; text-align: center;font-weight: bold;">
        Interactive Isolario
      </span>
      <a class="header-visit-vpc my_link" href="https://veniceprojectcenter.org" target="_blank">
        <span class="text-header-vpc">Visit VPC</span>
      </a>
    </div>

    <%= yield %>

    <div id="loadingMini"></div>
    
    <div id="loadingScreen">
        <div id="loadingTop"></div>
        <div id="spinPanel"></div>
        <div id="loadingBottom"></div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
